@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
  margin: 0 auto;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  
}
.key h1{
  font-size: 2.5rem;
  margin:180px 0 0;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

.text_concept{
  font-size: 25px;
  float: left;
  width: 60%;
  margin-right: 25px;
}
.image_concept{
  width: 35%;
}
.menu{
  background:url("../images/sample_menu_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  width: 49%;
  margin-right: 0.49%;
  margin-bottom: 25px;
  display: inline-table;
}

.container img{
  float: left;
  width: 55%;
  height: 400px;
  margin-right: 8px;
}
.container h2 {
  padding: 15px 5px 15px;
  margin-top: 0;
}

.container2{
  width: 49%;
  padding: 20px;
  display: inline-table;
}

.container2 img{
  float: left;
  width: 20%;
  margin-right: 8px;
}
.container2 h2, .container2 p {
  padding: 5px;
  margin-top: 0;
  margin-left: 25%;
}
.white{
  background-color: white;
}
.prize{
  color: green;
  float: inline-end;
  margin: 5% 5% 0 0;
}

dt{
  width: 80px;
  display: inline-table;
}
dd{
  display: inline-table;
}

footer{
  background-color: #251e19;
  height: 75px;
  width: 80%;
  display: inline-table;
  color: white;
  padding: 30px 10%;
  text-align: center;
}

footer a{
  color:white;
}
.container_footer{
  width: 7%;
  padding: 10px 0;
  display: inline-table;
}
.container_footer img{
  width: 90%;
  margin-right: 8px;
}
